[Desktop Entry]
Version=1.0
Type=Application
Name=wfan
Comment=RSSI variance analysis
Exec=/usr/local/bin/wfan_manager
Icon=wfan_icon
Terminal=false
Categories=Utility;Network;